<!doctype html>
<html>
  <head>
  <!-- The following code is a snippet from getbootstrap.com/docs/4.0/getting-started/intoduction/ -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
  
  h2 {
  background-color: #333;
  color: white;
  padding: 20px;
}

a {
  background-color: cadetblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
</style>
	<!-- The following code is a snippet from getbootstrap.com/docs/4.0/utilities/colors/#background-color -->
    <title class="p-3 mb-2 bg-secondary text-white">Confirmation Page</title>
  </head>
  <body>
    <h2>Thank you for your patronage!</h2>
    <p>Here's the information you entered:</p>
    <ul>
      <li>Full Name: {{request.form['ResName']}}</li>
      <li>Departure Time: {{request.form['ResDate']}}</li>
      <li>Departure Time: {{request.form['ResTime']}}</li>
      <li>Party Size: {{request.form['ResParty']}}</li>
    </ul>
    <a href="/">Home</a>
  </body>
</html>
